h1 {
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
}

h3 {
    font-size: 1.25rem;
    font-weight: 900;
    margin: 0;
}

h4 {
    font-size: 1rem;
    font-weight: 900;
    margin: 0;
}

h5 {
    font-size: 0.875rem;
    font-weight: 900;
    margin: 0;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    padding-left: 5px;
    border-left: 3px;
    border-style: solid;
    border-color: #f9f9f9;
}

blockquote {
    border-radius: 5px;
    background-color: #282c38;
    padding: 10px;
    border-left: 3px solid #f9f9f9;
    height: fit-content;
    width: fit-content;
    margin: 0;
}

blockquote.note {
    background-color: #00e1ff7a;
    border-left: 5px solid #00acc1;
}

blockquote.warning {
    background-color: #ff9d0085;
    border-left: 5px solid #fb8c00;
}

blockquote.caution {
    background-color: #ff000079;
    border-left: 5px solid #990000;
}