@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    color: #ababab;
    font-family: monospace;
    font-size: 16px;
}

.suggestion {
    display: none;
    border: 1px solid #ccc;
    background: #282c38;
    position: absolute;
    max-height: 100px;
    overflow-y: auto;
    width: calc(42%);
    z-index: 1000;
}
.suggestion div {
    padding: 8px;
    cursor: pointer;
}
.suggestion div:hover {
    background: dodgerblue;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #36454f #3E505C;
}

@keyframes slideIn {
    from { transform: translateX(-100%) }
    to { transform: translateX(0) }
}
@keyframes slideOut {
    from { transform: translateX(0) }
    to { transform: translateX(-100%) }
}

.sidebar-open {
    animation: slideIn 0.3s forwards
}

.sidebar-closed {
    animation: slideOut 0.3s forwards
}

.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #393E46;
    color: white;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    gap: 8px;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .toast.show {
    transform: translateY(0);
    opacity: 1;
  }
  
  .toast i {
    color: #00ff88;
  }